<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>老鹰彩票</string>
	<key>client_type</key>
	<string>1001</string>
	<key>channelId</key>
	<string>APPSTORE</string>
	<key>urlSchemes</key>
	<string>laoyingcaipiao</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>laoyingcaipiao</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
